<%- include('partials/head')%>
<%- include('partials/products')%>

<h1>Заказы <%= company %></h1>
<a href="/orders/new">сделать заказ</a>
<% if(company !== 'Всех') { %> 
  <br>
  <a href="/orders">все заказы</a>
<% } %> 
<br>
<ul>
    <% for(let o of orders) {%>
      <li>
        <%=o.company%> - <%=o.number%> <%=o.product%>
        <a href="/orders/<%= o._id %>">детали</a>
      </li>
    <% }%>
</ul>

<%- include('partials/footer')%>