<%- include('partials/head')%>
<%- include('partials/products')%>

<h1>Детали заказа</h1>
<p><%=order._id%>: <a href="/orders?company=<%=order.company%>"><%=order.company%></a> - <%=order.number%> <%=order.product%></p>
<a href="/orders">назад</a>
<br>
<a href="/orders/<%= order._id %>/edit">изменить</a>
<form method="POST" action="/orders/<%= order._id %>?_method=DELETE">
  <button>удалить</button>
</form>

<%- include('partials/footer')%>